<template>
    <div>
        <p>This footer was made by: {{ msg }}</p>
    </div>
</template>

<script>
export default {
  name: 'MyFooter',
  props: {
    msg: String
  }
}
</script>

<style scoped>
</style>
