<template>
  <div id="app">
    <MyHeader :msg="msg"/>
    <img alt="Vue logo" src="./assets/logo.png">
    <div>
        <input v-model="msg" placeholder="What is your name">
        <p>{{ msg }}</p>
    </div>
<!--    v-bind: also works but we can shorthand it here-->
    <HelloWorld :msg="msg"/>
    <MyFooter :msg="msg"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import MyHeader from './components/MyHeader.vue'
import MyFooter from './components/MyFooter.vue'

export default {
  name: 'app',
  props: {
    msg: String
  },
  components: {
    HelloWorld,
    MyHeader,
    MyFooter
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
